@use 'shared/styles/constants' as *;

.tag {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: fit-content;

  font-weight: 500;
  border-radius: $br-pill;
  white-space: nowrap;

  &.lg {
    font-size: 14px;
    line-height: 14px;
    padding: 8px 14px;
    &::before {
      content: '';
      display: block;
      background-color: var(--dot-color);;
      border-radius: 10px;
      width: 8px;
      height: 8px;
    }
  }
  &.sm {
    font-size: 12px;
    line-height: 12px;
    padding: 8px 14px;
  }
}
