@use 'shared/styles/constants/border-radius' as br;
@use 'shared/styles/constants/colors' as clr;
@use 'typography' as typo;

@mixin button-base {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: br.$br-s;
  gap: 8px;
  transition: background-color 150ms ease, outline-color 150ms ease, color 150ms ease;

  > span {
    @include typo.body-m;
  }
}

@mixin btn-primary {
  @include button-base;
  background-color: clr.$prm-500;

  > span { color: clr.$ns-000; }

  > svg {
    color: clr.$ns-000;
    --spinner-clr: #{clr.$ns-000};
    --spinner-clr-dim: #{clr.$ns-000};
  }

  &:hover { background-color: clr.$prm-600; }
  &:focus { outline: 2px solid clr.$prm-200; }

  &:disabled {
    background-color: clr.$ns-300;
    > span { color: clr.$ns-500; }
    > svg > path { color: clr.$ns-500; }
  }
}

@mixin btn-primary-dark-text {
  @include btn-primary;

  > span { color: clr.$prm-700; }

  > svg {
    color: clr.$prm-700;
    --spinner-clr: #{clr.$prm-700};
    --spinner-clr-dim: #{clr.$prm-700};
  }
}

@mixin btn-secondary {
  @include button-base;
  background-color: clr.$ns-000;
  outline: 1px solid clr.$prm-500;

  > span { color: clr.$prm-500; }

  > svg {
    color: clr.$prm-500;
    --spinner-clr: #{clr.$prm-500};
    --spinner-clr-dim: #{clr.$prm-500};
  }

  &:hover { background-color: clr.$prm-100; }
  &:focus { outline: 2px solid clr.$prm-200; }

  &:disabled {
    background-color: clr.$ns-100;
    outline: 1px solid clr.$ns-300;
    > span { color: clr.$ns-300; }
    > svg > path { color: clr.$ns-300; }
  }
}

@mixin btn-ghost {
  @include button-base;
  background-color: clr.$ns-000;
  outline: 1px solid clr.$ns-300;

  > span { color: clr.$ns-800; }

  > svg {
    color: clr.$ns-800;
    --spinner-clr: #{clr.$ns-800};
    --spinner-clr-dim: #{clr.$ns-800};
  }

  &:hover { background-color: clr.$ns-100; }
  &:focus { outline: 2px solid clr.$prm-200; }

  &:disabled {
    background-color: clr.$ns-000;
    > span { color: clr.$ns-300; }
  }
}

@mixin btn-destructive {
  @include button-base;
  background-color: clr.$s-dng;

  > span { color: clr.$ns-000; }

  > svg {
    color: clr.$ns-000;
    --spinner-clr: #{clr.$ns-000};
    --spinner-clr-dim: #{clr.$ns-000};
  }

  &:hover { background-color: #BA0404; }
  &:focus { outline: 2px solid #A90606; }

  &:disabled {
    background-color: clr.$ns-300;
    > span { color: clr.$ns-500; }
  }
}
