@use 'shared/styles/constants' as *;
@use 'shared/styles/constants/colors' as clr;

@mixin card($padding: 22px 16px) {
  padding: $padding;
  border-radius: $br-s;
  box-shadow: $shadow-low;
  background-color: clr.$ns-000;
}