@mixin rounded {
  border-radius: 8px;
}

@mixin shadow-deep {
  @include rounded;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
}

@mixin shadow-low {
  @include rounded;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
}

@mixin shadow-med {
  @include rounded;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}