@use 'shared/styles/constants/fonts' as *;
@use './breakpoints' as *;

$reg: 400;
$med: 500;
$sb: 600;
$b: 700;

@mixin base {
  font-family: $font-sans;
  letter-spacing: 0;
}

@mixin h1 {
  @include base;

  font-weight: $sb;
  font-size: 32px;
  line-height: 100%;
  @include desktop {
    font-size: 60px;
  }
}

//used 1
@mixin h2 {
  @include base;

  font-weight: $sb;
  font-size: 16px;
  line-height: 120%;
  @include tablet {
    font-size: 24px;
  }
}

@mixin h3 {
  @include base;

  font-weight: $sb;
  font-size: 14px;
  line-height: 120%;
  @include desktop {
    font-size: 20px;
  }
}

//used 1
@mixin body-l {
  @include base;

  font-weight: $reg;
  font-size: 16px;
  line-height: 130%;
}

@mixin body-m {
  @include base;

  font-weight: $reg;
  font-size: 14px;
  line-height: 130%;
}

@mixin caption {
  @include base;

  font-weight: $reg;
  font-size: 12px;
  line-height: 130%;
}

@mixin numeric {
  @include base;

  font-weight: $med;
  font-size: 14px;
  line-height: 130%;
}

//used 1
@mixin navLinks {
  @include base;

  font-weight: $sb;
  font-size: 18px;
  line-height: 120%;
}
