@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/mixins/typography' as typ;

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.count {
  @include typ.h2;

  color: clr.$ns-800;
  margin: 32px 0 24px;
}

.catalogue {
  position: relative;
  min-height: 70vh;
  width: 100%;
  gap: 24px;
}

.catalogueGrid {
  display: grid;
  position: relative;
  grid-column: 1fr;
  justify-content: center;
  align-items: center;

  @media (min-width: bp.$tab) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: bp.$dsc-wide) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalogueList {
  display: flex;
  flex-direction: column;
}
