@use 'shared/styles/constants' as *;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/breakpoints' as bp;

.modal {
  position: fixed;
  inset: 0;
  z-index: $z-modal;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  overflow-y: auto;

  padding: 80px 16px;

  background-color: rgba(clr.$ns-900, 0.65);
  backdrop-filter: blur(4px);

  transition:
    opacity 180ms ease,
    visibility 180ms ease;

  .modal-content {
    position: relative;
    margin: 0 auto;
    max-width: 512px;
    min-width: 328px;

    padding: 24px;
    background-color: clr.$ns-000;
    border-radius: $br-m;
    
    transition: transform 180ms ease;

    @include bp.tablet {
      padding: 32px;
    }
    .close {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 24px;
      right: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $br-m;
      color: clr.$ns-800;
      transition:
        background-color 150ms ease,
        box-shadow 150ms ease,
        color 150ms ease;

      > svg {
        transform: scale(1);
        transition: scale 150ms ease;
      }

      &:hover,
      &:focus {
        background-color: clr.$ns-200;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

        > svg {
          transform: scale(1.12);
        }
      }
      @include bp.tablet {
        top: 32px;
        right: 32px;
        width: 40px;
        height: 40px;
      }
    }
  }

  &--open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
