@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/typography' as typo;

.container {
  display: grid;
  gap: 12px;
  align-content: start;
}

.title {
  @include typo.body-l;
  font-weight: 600;
  color: clr.$ns-800;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;

  > svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }

  > a {
    @include typo.body-m;
    color: clr.$ns-700;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: clr.$prm-500;
    }
  }
}
