@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/shadows' as sh;

.search-dropdown {
  min-height: 200px;
  padding: 16px;

  border-top: 1px solid clr.$ns-200;
  box-shadow: sh.$shadow-med;
  pointer-events: none;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-8px);
  transition:
    opacity 0.1s,
    visibility 0.1s,
    transform 0.3s;

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;

    background-color: rgba(255, 255, 255, 0.82);
    backdrop-filter: blur(10px);
  }
}
