@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/shadowsRound' as sr;
@use '../../model/header.constants' as hc;
@use '../../model/header.mixins' as hm;

.search-dropdown {
  min-height: 200px;
  padding: 16px;

  border-top: 1px solid clr.$ns-200;
  @include sr.shadow-med;
  pointer-events: none;

  @include hm.dd-hidden;

  &--visible {
    pointer-events: auto;

    @include hm.dd-visible;
    @include hm.frosted;
  }
}
