@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/typography' as typo;
@use 'shared/styles/mixins/breakpoints' as bp;
@use 'shared/styles/mixins/card' as card;

.card {
  @include card.card;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  .title {
    @include typo.h3;
    text-transform: uppercase;
    color: clr.$prm-700
  }
  .kcal {
    display: flex;
    gap: 2px;
    align-items: flex-end;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: clr.$ns-500;
    span {
      font-size: 36px;
      color: clr.$prm-700;
    }
    dd:before {
      content: '/';
    }
  }
  .nutritions {
    border-top: 1px solid clr.$ns-200;
    margin-top: 4px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}