@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/mixins/shadowsRound' as sr;
@use 'shared/styles/constants/zindex' as z;
@use 'shared/styles/mixins/typography' as typo;
@use './model/header.constants' as hc;
@use './model/header.mixins' as hm;

.header {
  position: fixed;
  top: 0;
  z-index: z.$z-header;

  display: grid;
  grid-template: hc.$grid-mob;
  place-items: center center;
  gap: hc.$header-gap-mob;

  width: 100%;
  padding: hc.$header-padding;
  box-sizing: border-box;

  @include sr.shadow-low;

  transition:
    padding hc.$transform-med,
    grid-template-columns hc.$transform-med;

  &::before {
    content: '';

    position: absolute;
    inset: 0;
    z-index: z.$z-minus;

    @include hm.frosted;

    transition:
      background-color hc.$transform-med,
      backdrop-filter hc.$transform-med;
  }

  > [data-header-burger] {
    grid-area: 1 / 1 / 2 / 2;
  }

  > .logo {
    grid-area: 1 / 2 / 2 / 3;

    gap: 10px;

    > svg {
      width: auto;
      height: 28px;
      flex-shrink: 0;
    }

    > span {
      @include typo.navLinks;

      color: clr.$ns-900;
    }
  }

  > [data-header-search] {
    grid-area: 1 / 4 / 2 / 5;
  }

  > [data-header-nav] {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: auto;

    @include hm.dd-hidden;
  }

  > [data-header-spacer] {
    display: block;

    grid-area: 1 / 5 / 2 / 6;

    width: 1px;
    height: 100%;

    background-color: clr.$ns-200;
    flex-shrink: 0;
  }

  > [data-header-actions] {
    grid-area: 1 / 6 / 2 / 7;
  }

  > [data-search-dropdown] {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  &--scrolled {
    padding-block: 4px;

    &:hover {
      padding-block: hc.$header-padding;
    }
  }

  @media (max-width: bp.$dsc) {
    > :not([data-header-search]):not([data-search-dropdown]):not([data-header-nav]) {
      transition:
        opacity hc.$transform-fast hc.$transform-fast,
        visibility hc.$transform-fast hc.$transform-fast;
    }

    &--search-expanded {
      grid-template: hc.$grid-search-mob-expanded;
      column-gap: 0;

      > :not([data-header-search]):not([data-search-dropdown]):not([data-header-nav]) {
        opacity: 0;
        visibility: hidden;

        transition:
          opacity hc.$transform-fast,
          visibility hc.$transform-fast;
      }
    }

    &--menu-expanded {
      > [data-header-nav] {
        @include hm.dd-visible;
      }
    }
  }

  @media (min-width: bp.$dsc) {
    grid-template: hc.$grid-desc;
    padding-inline: max(hc.$header-padding, calc((100% - hc.$max-content-width) / 2));

    > [data-header-burger] {
      display: none;
    }

    > .logo {
      grid-area: 1 / 1 / 2 / 2;

      gap: 12px;

      > svg {
        height: 36px;
      }

      > span {
        font-size: 22px;
      }
    }

    > [data-header-search] {
      grid-area: 1 / 2 / 2 / 3;

      width: calc(100% - hc.$logo-search-gap);
      margin-left: hc.$logo-search-gap;

      transition: all hc.$transform-med;
    }

    > [data-header-nav] {
      grid-area: 1 / 3 / 2 / 4;

      position: static;

      height: 100%;
      padding-right: hc.$logo-search-gap - 16px;

      opacity: 1;
      visibility: visible;
      transform: none;

      transition:
        opacity hc.$transform-med,
        visibility hc.$transform-med;
    }

    > [data-header-spacer] {
      grid-area: 1 / 4 / 2 / 5;
    }

    > [data-header-actions] {
      grid-area: 1 / 5 / 2 / 6;
    }
  }

  @media (min-width: bp.$dsc) and (max-width: bp.$dsc-wide) {
    > [data-header-nav] {
      max-width: 600px;
      overflow: hidden;

      padding-right: hc.$icons-padding;

      transition:
        max-width hc.$transform-med,
        padding hc.$transform-med,
        opacity hc.$transform-med,
        visibility hc.$transform-med;
    }

    &:has([data-header-search]:focus-within) {
      > [data-header-nav] {
        max-width: 0;
        padding-right: 0;

        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
