@use 'shared/styles/constants' as *;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/mixins/typography' as typo;
@use 'shared/styles/mixins/buttons' as btn;

@mixin frosted {
  background-color: rgba(255, 255, 255, 0.82);
  backdrop-filter: blur(10px);
}

@mixin positioning($interval) {
  left: $interval;
  right: $interval;
}

.header {
  display: flex;
  min-width: 328px;
  position: fixed;
  align-items: center;
  top: 16px;
  padding: 0 12px;
  @include positioning(bp.$main-margin-mob);

  height: 70px;
  z-index: $z-header;

  box-shadow: $shadow-low;
  border-radius: $br-s;
  gap: 16px;

  @include frosted;

  [data-widget='search-container'] {
    margin-right: auto;
    > button {
      @include btn.square-base(36px, 36px);
    }
  }

  @media (min-width: bp.$tab) {
    @include positioning(bp.$main-margin-tab);
    padding: 0 20px;
  }

  @media (min-width: bp.$dsc) {
    @include positioning(bp.$main-margin-dsc);
    gap: 12px;
    [data-header-burger] {
      display: none;
    }

    [data-widget='search-container'] {
      flex: 1 1 120px;
    }
  }

  @media (min-width: bp.$dsc-wide) {
    padding: 0 24px;
    gap: 24px;

    [data-widget='search-container'] {
      flex: 1 0 150px;
    }
    left: 0;
    right: 0;
    max-width: bp.$main-max-width;
    margin-inline: auto;
  }
}

.logo {
  > svg {
    height: 36px;
    width: 36px;
  }

  > span {
    visibility: hidden;
    width: 0;
  }

  @media (min-width: bp.$tab) {
    gap: 6px;

    > svg {
      height: 40px;
      width: 40px;
    }
    > span {
      visibility: visible;
      width: auto;
    }
  }

  @media (min-width: bp.$dsc) {
    gap: 8px;
  }
}

.spacer {
  width: 1px;
  height: 46px;
  background-color: clr.$ns-200;
}
