@use 'shared/styles/constants/breakpoints' as bp;

.icon {
  width: 16px;
  height: 16px;

  @media (min-width: bp.$tab) {
    width: 18px;
    height: 18px;
  }

  @media (min-width: bp.$dsc) {
    width: 24px;
    height: 24px;
  }
}
