@use 'shared/styles/constants/border-radius' as br;
@use 'shared/styles/constants/shadows' as sh;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/typography' as typo;
@use 'shared/styles/mixins/card' as card;

.card {
  @include card.card(13px 19px);
  display: grid;
  gap: 0 18px;
  grid-template-columns: min-content 1fr;
  border-radius: br.$br-xxs;

  .iconWrapper {
    width: 54px;
    height: 54px;
    background-color: clr.$prm-200;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: br.$br-xxs;

    grid-row: span 2;
    &:first-child {
      color: clr.$prm-700;
    }
  }
  .title {
    @include typo.h3;
    color: clr.$ns-800;
  }
  .description {
    grid-column: 2 / -1;
    align-content: end;
    @include typo.caption;
    color: clr.$ns-700;
  }
}
