@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/buttons' as btn;
@use 'shared/styles/mixins/shadowsRound' as sr;


.searchBar {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 12px 12px;
  gap: 24px;
  flex-direction: row;
  align-items: center;
  @include sr.shadow-deep;
}

.refresh {
  @include btn.btn-primary;
  height: 100%;
  width: 48px;

  background-color: clr.$prm-200;
  > svg > path {
    color: clr.$prm-700;
  }
}

