@use 'shared/styles/constants/breakpoints' as bp;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  gap: 24px;

  .filtersWrapper {
    display: none;
  }

  @media (min-width: bp.$dsc) {
    display: grid;
    grid-template: 63px 1fr 100px / 261px auto;
    gap: 24px;

    > [data-widget='search-bar'] {
      grid-area: 1 / 1 / 2 / 3;
    }

    > .filtersWrapper {
      display: block;
      grid-area: 2 / 1 / 3 / 2;

      > [data-widget='filters'] {
        position: sticky;
        top: calc(90px + 15px);
        height: calc(80dvh);
      }
    }

    > [data-widget='catalogue'] {
      grid-area: 2 / 2 / 3 / 3;
    }

    > [data-widget='pagination'] {
      grid-area: 3 / 2 / 4 / 3;
    }
  }
}
