@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/layout' as lt;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  gap: 24px;

  .filtersWrapper {
    > [data-widget='filters'] {
      position: fixed;
      left: 0;
      top: 0;
      height: 100dvh;
      transform: translateX(-100%);
      visibility: hidden;
      transition: transform 0.3s ease, visibility 0.3s ease;
      z-index: 100;
    }
  }

  @media (max-width: #{bp.$dsc - 1}) {
    &--filters-open {
      .filtersWrapper > [data-widget='filters'] {
        transform: translateX(0);
        visibility: visible;
      }
    }
  }

  .filtersBackdrop {
    display: none;
    width: 0;
    height: 0;

    @media (max-width: #{bp.$dsc - 1}) {
      display: block;
      width: auto;
      height: auto;
      position: fixed;
      inset: 0;
      background-color: rgba(clr.$ns-900, 0.65);
      backdrop-filter: blur(4px);
      z-index: 99;
      cursor: pointer;
    }
  }

  @media (min-width: bp.$dsc) {
    display: grid;
    grid-template: 63px 1fr 100px / 261px auto;
    gap: 24px;

    > [data-widget='search-bar'] {
      grid-area: 1 / 1 / 2 / 3;
    }

    > .filtersWrapper {
      grid-area: 2 / 1 / 3 / 2;

      > [data-widget='filters'] {
        position: sticky;
        top: calc(lt.$header-height + 15px);
        height: calc(100dvh - lt.$header-height - 215px);
        transform: none;
        visibility: visible;
        z-index: auto;
        transition: none;
      }
    }

    > [data-widget='catalogue'] {
      grid-area: 2 / 2 / 3 / 3;
    }

    > .spacer {
      grid-area: 3 / 1 / 4 / 3;
    }
  }
}
