@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins' as *;
@use 'shared/styles/mixins/card' as card;

.productCard {
  @include card.card(16px);
  color: clr.$ns-800;
  display: flex;
  flex-direction: column;

  > article {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .linkWrapper {
    display: grid;
    flex: 1;
    .line {
      background-color: clr.$ns-200;
    }
  }

  &.grid {
    width: 100%;
    .linkWrapper {
      height: 100%;
      .brand {
        margin-bottom: 12px;
      }
      .tag {
        margin-bottom: 6px;
      }
      [data-pills] {
        margin-bottom: 8px;
      } 
      .line {
        height: 1px;
        width: 100%;
        margin-bottom: 8px;
      }
      [data-kcal] {
        margin-bottom: 8px;
      }
      [data-nutrition-list] {
        margin-bottom: 48px;
      }
    }
  }

  &.list {
    .linkWrapper {
      grid-template-columns: 246px auto auto 1px 32px;
      grid-template-rows: auto auto auto;
      gap: 0 24px;
      align-items: stretch;
      .brand {
        grid-column: 1;
      }
      [data-kcal] {
        grid-column: 1;
      }
      .tag {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
      }
      [data-pills] {
        grid-column: 3;
        justify-self: end;
        grid-row: 1;
      }
      [data-nutrition-list] {
        grid-column: 2 / 4;
        grid-row: 2 / -1;
        margin-top: 8px;
      }
      .line {
        grid-column: 4;
        width: 1px;
        grid-row: 1 / -1;
        line-height: 100%;
      }
      [data-actions] {
        grid-column: 5;
        flex-direction: column;
        gap: 31px;
        justify-content: center;
        grid-row: 1 / -1;
      }
    }
  }
}
