@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/mixins/typography' as typo;
@use '../../model/header.constants' as hc;
@use '../../model/header.mixins' as hm;

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: hc.$fullIconSize;
  height: 100%;
  box-sizing: border-box;

  border: 2px solid transparent;
  border-radius: hc.$icons-border-radius;

  transition: all hc.$transform-med;

  &:has(input:focus) {
    border-color: clr.$prm-500;
  }

  > .icon-btn {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    padding: 0;

    background: none;
    border: none;
    cursor: pointer;

    > svg {
      width: hc.$iconsSize;
      height: hc.$iconsSize;
      color: clr.$ns-800;

      transition: transform hc.$transform-fast;
    }
  }

  > input {
    @include typo.body-l;

    flex: 0 0 0;
    width: 0;
    overflow: hidden;

    color: clr.$ns-800;
    opacity: 0;

    transition: opacity hc.$transform-fast ease hc.$transform-med;
  }

  @media (max-width: bp.$dsc) {
    &:hover,
    &:focus-within {
      background-color: clr.$ns-200;

      > .icon-btn > svg {
        transform: hc.$iconsHover;
      }
    }

    &--expanded {
      @include hm.searchbar-expanded;

      &:hover,
      &:focus-within {
        background-color: clr.$ns-050;

        > .icon-btn > svg {
          transform: none;
        }
      }
    }
  }

  @media (min-width: bp.$dsc) {
    @include hm.searchbar-expanded;

    min-width: hc.$search-min-width-desc;

    &:hover:not(:focus-within) {
      border-color: clr.$ns-500;
    }

    &--scrolled:not(:focus-within) {
      height: hc.$row-max-height - 10px;

      background-color: transparent;
      border-color: clr.$ns-200;

      &:hover {
        border-color: clr.$ns-300;
      }
    }
  }
}
