@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/typography' as typo;
@use '../../model/header.constants'  as hc;

.container {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  > svg {
    width: 24px;
    height: 29px;
  }

  > span {
    @include typo.body-l;
    color: clr.$ns-800;
  }

  @media (min-width: bp.$dsc) {
    gap: 12px;

    > svg {
      width: 26px;
      height: 32px;
    }

    > span {
      @include typo.h2;
    }
  }
}
