@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/typography' as typo;
@use '../../model/header.constants' as hc;

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  flex-shrink: 0;

  > svg {
    width: hc.$logoSvgWidthMob;
    height: hc.$logoSvgHeightMob;
  }

  > span {
    @include typo.body-l;
    color: clr.$ns-800;
  }

  @media (min-width: bp.$dsc) {
    gap: 12px;
    padding-left: hc.$header-padding;

    > svg {
      width: hc.$logoSvgWidthDsc;
      height: hc.$logoSvgHeightDsc;
    }

    > span {
      @include typo.h2;
    }
  }
}
