@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/typography' as typo;
@use '../../model/header.constants' as hc;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  padding-inline: 10px;

  border-radius: hc.$icons-border-radius;

  transition:
    box-shadow hc.$transform-med,
    background-color hc.$transform-med;

  &:hover,
  &:focus {
    background-color: rgba(clr.$prm-500, 0.06);
    box-shadow:
      0 0 6px 6px rgba(clr.$prm-500, 0.06),
      0 0 18px 10px rgba(clr.$prm-500, 0.04),
      0 0 36px 16px rgba(clr.$prm-500, 0.02);
    outline: none;
  }

  > svg {
    width: hc.$logoSvgWidthMob;
    height: hc.$logoSvgHeightMob;
  }

  > span {
    @include typo.body-l;
    color: clr.$ns-800;
  }

  @media (min-width: bp.$dsc) {
    gap: 12px;
    justify-content: space-between;

    > svg {
      width: hc.$logoSvgWidthDsc;
      height: hc.$logoSvgHeightDsc;
    }

    > span {
      @include typo.h2;
    }
  }
}
