@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/mixins/typography' as typo;
@use 'shared/styles/constants/shadows' as sh;
@use '../../model/header.constants' as hc;
@use '../../model/header.mixins' as hm;

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  width: 100%;
  height: 100%;
  margin-left: 0;
  padding: 20px 5px;

  border-top: 1px solid clr.$ns-200;
  box-shadow: sh.$shadow-med;

  @include hm.frosted;

  > a {
    @include typo.navLinks;

    padding: hc.$icons-padding hc.$navlink-padding-x;

    color: clr.$ns-500;

    transition: transform hc.$transform-fast;

    &:hover, &:focus {
      transform: hc.$iconsHover;
    }
  }

  > .link-active {
    position: relative;

    color: clr.$prm-700;
  }

  @media (min-width: bp.$dsc) {
    flex-direction: row;
    justify-content: flex-end;
    gap: hc.$navbar-gap-desc;

    height: 100%;
    margin-left: hc.$ui-btns-gap;
    padding: 0;

    background-color: transparent;
    backdrop-filter: none;
    border-top: none;
    box-shadow: none;
  }

  @media (min-width: bp.$dsc) and (max-width: bp.$dsc-wide) {
    gap: hc.$navbar-gap-desc - 20px;
  }

  @media (min-width: bp.$dsc-wide) {
    margin-left: hc.$logo-search-gap;
  }
}
