@use 'shared/styles/constants' as *;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/breakpoints' as bp;
@use 'shared/styles/mixins/typography' as typo;

@mixin underscore() {
  position: absolute;
  content: '';
  bottom: 12px;
  left: 12px;
  right: 12px;
  height: 2px;
  background-color: clr.$prm-700;
}

.navbar {
  display: none;
  height: 100%;
  width: fit-content;

  .link {
    position: relative;
    @include typo.h2;
    font-size: 18px;
    color: clr.$prm-700;
    transition: color 0.3s;

    &::after {
      @include underscore;
      transform: scaleX(0);
      transition: transform 0.3s;
    }

    &--active,
    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }

    &--idle {
      color: clr.$ns-700;

      &:hover {
        color: clr.$prm-700;
      }
    }
  }

  @media (min-width: bp.$dsc) {
    display: flex;
    align-items: center;

    .link {
      padding: 20px 12px;
    }
  }
}

.li {
  display: flex;
}