@use 'shared/styles/constants/colors' as clr;
@use '../../model/header.constants' as hc;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity hc.$transform-med;
}

.item {
  position: relative;
}

.badge {
  position: absolute;
  top: 4px;
  right: 4px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  border-radius: 8px;
  background-color: clr.$prm-500;
  color: clr.$ns-000;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  pointer-events: none;
  box-sizing: border-box;
}
