@use 'shared/styles/constants/colors' as clr;
@use '../../model/header.constants' as hc;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity hc.$transform-med;
}
