@use 'shared/styles/constants/colors' as clr;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  color: clr.$ns-800;
  dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 600;
    }
    .info {
      display: flex;
      gap: 24px;
      .percent {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .progressValue {
    justify-self: end;
  }
  .progressBar {
    grid-column: span 2;
    height: 6px;
    border-radius: 10px;
    background-color: clr.$ns-200;
    .progress {
      min-width: 6px;
      width: 6px;
      height: 6px;
      border-radius: 10px;
    }
  }
}