$mob: 360px;
$tab: 640px;
$dsc: 1024px;
$dsc-wide: 1200px;

// Main container layout breakpoints & margins
$main-mob: 360px;
$main-margin-mob: 12px;
$main-margin-tab: 20px;
$main-margin-dsc: 80px;
$main-max-width: 1120px;