@use '../../model/header.constants' as hc;
@use 'shared/styles/constants/colors' as clr;

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: hc.$fullIconSize;
  height: hc.$fullIconSize;
  box-sizing: border-box;
  border-radius: hc.$icons-border-radius;
  transition:
    background-color hc.$transform-med,
    opacity hc.$transform-med;

  > svg {
    width: hc.$iconsSize;
    height: hc.$iconsSize;
    color: clr.$ns-800;
    transition: transform hc.$transform-fast;
  }

  &:hover,
  &:focus {
    background-color: clr.$ns-200;

    > svg {
      transform: hc.$iconsHover;
    }
  }
}
