@use 'shared/styles/constants/border-radius' as br;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/shadows' as sh;
@use 'shared/styles/mixins/typography' as tp;

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  transition: all 0.3s ease;

  > button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    height: 40px;
    border-radius: br.$br-s;
    width: 100%;
    padding: 0 16px;

    border: 1px solid clr.$ns-300;

    @include tp.body-m;
    color: clr.$ns-500;

    > svg > path {
      color: clr.$ns-700;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
  pointer-events: none;
  gap: 0;
  outline: 1px solid transparent;
  box-shadow: none;
  border-radius: br.$br-m;
  transition: all 0.3s ease 0.3s;

  > * {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      height 0.3s ease 0.3s;
  }

  &--active {
    margin-top: 4px;
    pointer-events: all;
    padding: 8px 0;
    gap: 10px;

    outline: 1px solid clr.$ns-300;
    box-shadow: sh.$shadow-low;

    transition:
      all 0.3s ease 0.3s,
      gap 0.3s ease,
      outline-color 0.2s ease 0.1s,
      box-shadow 0.2s ease 0.1s;

    > * {
      height: 40px;
      opacity: 1;
      cursor: pointer;
      transition:
        height 0.3s ease,
        opacity 0.3s ease 0.3s;
    }
  }
}


