@use 'shared/styles/constants/border-radius' as br;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/constants/shadows' as sh;
@use 'shared/styles/mixins/typography' as tp;

.dropdown {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2px);
  height: auto;

}

.trigger {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  height: 40px;
  border-radius: br.$br-s;
  width: 100%;
  padding: 0 16px;

  border: 1px solid clr.$ns-300;

  @include tp.body-m;
  color: clr.$ns-500;

  > svg > path {
    color: clr.$ns-700;
  }

  &--selected {
    color: clr.$ns-800;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;

  border-radius: br.$br-m;
  outline: 1px solid transparent;
  box-shadow: none;
  margin-top: 0;

  transition:
    grid-template-rows 0.3s ease,
    outline-color 0.3s ease,
    margin-top 0.3s ease;

  &--active {
    grid-template-rows: 1fr;
    margin-top: 4px;
    outline: 1px solid clr.$ns-300;
    box-shadow: sh.$shadow-low;

    transition:
      grid-template-rows 0.3s ease,
      outline-color 0.3s ease,
      margin-top 0.3s ease;

    .inner {
      padding: 8px 0;
      gap: 10px;
      pointer-events: all;
    }
  }
}

.inner {
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  pointer-events: none;
}
