@use 'shared/styles/constants/border-radius' as br;
@use 'shared/styles/constants/colors' as clr;
@use 'shared/styles/mixins/buttons' as btn;

.toggleView {
  display: flex;
  margin-left: auto;
  height: 100%;
  align-items: center;
  border-radius: br.$br-s;
  gap: 1px;
  border: 1px solid clr.$ns-300;
  background-color: clr.$ns-300;
  overflow: hidden;
}

.viewBtn {
  @include btn.button-base;
  border-radius: 0;
  justify-content: center;
  width: 48px;
  height: 100%;
  background-color: clr.$ns-000;

  > svg {
    color: clr.$prm-500;
  }

  &--active {
    background-color: clr.$prm-500;
    > svg {
      color: clr.$prm-100;
    }
  }
}